h1{
    color: aqua;
    text-align:center; 
    font-size:5vh;
    font-family:Arial, Helvetica, sans-serif;
    border-style: dotted;
    border-width: 5px;
    border-color: black;
    
}
h2{
    font-family:sans-serif;
    color:whitesmoke;
}
body{ 
    background-image:url("https://cdn.pixabay.com/photo/2017/10/31/19/05/web-design-2906159_960_720.jpg");
background-repeat: no-repeat;
background-size: cover; 
  }
  P{ background-color: purple;
    border-width: 6px;
    border-color: yellowgreen;
    border-style:solid;
    display: inline-table;
    float:end;
      
  }
  ul {
color:black;

  }
  #navbar {
font-style: italic;
color:white;
background-color: darkslateblue;
  }

  
  
